body{
    background-color: #009788;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.container{
    width: 100%;
    padding-top: 4rem;
}

.labels{
    padding-top: 4rem;
    color: #ffffff;
    font-size: 6vw;
}

#go{
    margin-top: 4rem;
    background-color: #fff;
    border: 0;
    width: 80%;
    height: 5rem;
    font-size: 2rem;
    border-radius: .5em;
}

.inputs{
    background-color: #fff;
    width: 80%;
    border-radius: .5em;
    font-size: 3rem;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}

#output{
    font-size: 9vw;
    margin-top: 3rem;
}